.wrapper {
	width: 250px;
	height: 450px;
	border: 2px solid;
	text-align: center;
	border-radius: 20px;
	position: fixed; 
 	 top: 10%;
  	left: 40%;

}

.buttons {
	position: relative;
	top: 50px;
}

.images {
	display: none;
}

#imageContainer {
	width: 200px;
	height: 200px;
	border: 2px solid red;
	margin: 0 auto;
	display: none;
	background-repeat: no-repeat;

}
