body {
	background-image: url(songImages/ocean.jpg);
}
.wrapper {
	width: 250px;
	height: 450px;
	text-align: center;
	border-radius: 20px;
	position: fixed; 
 	 top: 10%;
  	left: 40%;
  	background-color:#434343;
  	/*border: 2px blue;*/
  	color: white;
  	box-shadow: 5px 7px black;
}

.buttons {
	position: relative;
	top: 30px;
}

.images {
	display: none;
}

#imageContainer {
	width: 200px;
	height: 200px;
	border: 2px solid black;
	border-width: thick;
	margin: 0 auto;
	display: none;
	background-repeat: no-repeat;

}
